.venv/
.idx/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wassp-eggs/
.installed.cfg
*.egg-info/
.manifest
.tm_build_errors
*.egg
.env
.vscode/
# Ignore Gemini configuration file
GEMINI.md
